<% content_for :js do %>
  <%= javascript_include_tag 'characters' %>
<% end %>

<h3>Show Page for '<span><%= @character.name %></span>'</h3>

<button id="previous-char" data-id="<%= @character.id %>" data-show_id="<%= @character.show_id %>">Previous Character</button>
<button id="next-char" data-id="<%= @character.id %>" data-show_id="<%= @character.show_id %>">Next Character</button>

<p>Name: <span id="char-name"><%= @character.name %></span></p>
<p>Role: <span id="char-role"><%= @character.role %></span></p>
<p>Description: <span id="char-description"><%= @character.description %></span></p>
<p>Affiliated Show: <span id="char-show"><%= link_to @character.show.name, show_path(@character.show) %></span></p>

<p id="char-edit"><%= link_to "Edit Character", edit_show_character_path(@character.show, @character) %></p>
<p id="char-delete"><%= render partial: "delete", locals: {character: @character} %></p>

<p>Character last updated on: <span id="char-last-updated"><%= @character.updated_at %></span></p>
<p>Character has been viewed <span id="char-last-viewed"><%= @character.char_page_views %></span> times.</p>
